<div class="col-lg-12">
	<br /><hr /><br />
	<h3><i class="fa fa-address-book-o"></i>&nbsp;&nbsp;Hubungi Saya</h3>
	<table class="table">
		<tbody>
			<tr>
				<td style="width:15%;padding-right:10px">Email</td>
				<td><a href="javascript:void(0)" id="text-spoiler" data-x="{{ base64_str(Data.general.email) }}"><i class="fa fa-envelope-o" style="padding-right:5px;"></i>Tampilkan</a></td>
			</tr>
			<tr>
				<td style="width:15%;padding-right:10px">No Telp.</td>
				<td><a href="javascript:void(0)" id="text-spoiler" data-x="{{ base64_str(Data.general.phone) }}"><i class="fa fa-phone" style="padding-right:9px;"></i>Tampilkan</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="clearfix"></div>