<div class="col-lg-12">
	<br /><hr /><br />
	<h3><i class="icon-address-book-o"></i>&nbsp;&nbsp;Contact Me</h3>
	<table class="table">
		<tbody>
			<tr>
				<td style="white-space: nowrap;width: 1% !important;padding-right:1.2rem;">Email</td>
				<td>: <a href="javascript:void(0)" id="text-spoiler" data-x="{{ base64_str(data.general.email) }}">Show</a></td>
			</tr>
			<tr>
				<td style="white-space: nowrap;width: 1% !important;padding-right:1.2rem;">Phone</td>
				<td>: <a href="javascript:void(0)" id="text-spoiler" data-x="{{ base64_str(data.general.phone) }}">Show</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="clearfix"></div>