<div class="col-lg-12">
	<h3><i class="icon-user-o"></i>&nbsp;&nbsp;About Me</h3>
	Saya dilahirkan pada tahun 1996 di sebuah desa yang bernama Kawunganten yang terletak di Kab. Cilacap, Jawa Tengah.
	Saya diberi nama <b>Muhamad Suryadi</b> oleh orang tua saya, namun saya lebih akrab dipanggil <b>Adi</b>, <b>Em</b>, atau <b>Sur</b>.
	<br /><br />
	Status saya adalah {% if Data.general.sudah_menikah %}sudah menikah{% else %}belum menikah{% endif %}.
	Hobi saya adalah membaca berita atau buku, mempelajari hal baru, dan menulis.
	Saya dominan otak kanan, dan seorang ambivert.
	Saat test MBTI hasilnya adalah <a href="https://www.16personalities.com/infp-personality" target="_blank">INFP</a>.
	<br /><br />
</div>
<div class="col-md-6">
	<h4>Riwayat Pendidikan</h4>
	<ul>
		<li>SD Negeri 1 Kawunganten <span class="badge badge-custom">2009</span></li>
		<li>SMP Negeri 2 Kawunganten <span class="badge badge-custom">2012</span></li>
		<li>SMK Yos Sudarso Jeruklegi <span class="badge badge-custom">2015</span></li>
		<li>STMIK Widya Utama Purwokerto <span class="badge badge-custom">On Progress</span></li>
	</ul>
</div>
<div class="col-md-6">
	<h4>Riwayat Pekerjaan</h4>
	<ul>
		<li>Jasa Sablon dan Setting Film Sablon <span class="badge badge-custom">2015-2016</span> <span class="badge badge-custom">Owner</span></li>
		<li>Fullstack Programmer di CV. Babywear Garment <span class="badge badge-custom">2016-2018</span> <span class="badge badge-custom">Karyawan</span></li>
	</ul>
</div>
<div class="clearfix"></div>