/* Import Bootstrap */
@import "etc/bootstrap/bootstrap-grid";
@import "etc/fa-minimal";

/* Style */
body {
	background-color: #EEE;
}
hr {
	border-style: solid;
}
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	height: 55px;
	background-color: #2196f3;
	color: #FFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	display: none;
	img {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-bottom: 10px;
	}
	.brand {
		margin:15.5px 0;
		font-weight: bold;
		font-size: 16px;
		display: inline-block;
	}
}
.badge-custom {
	color: #1e88e5;
	border: 1px solid #1e88e5;
}
.progress {
	.progress-bar {
		background-color: rgba($color: #1e88e5, $alpha: 0.75) !important;
		//background-color: #FFF !important;
		border: 2px solid #1e88e5;
	}
}
.welcome {
	background-color: #EEE;
	position: fixed;
	width: 100%;
	height: 400px;
	font-size: 16px;
	@include media-breakpoint-up(md) { 
		font-size: 18px; 
	}
	@include media-breakpoint-up(lg) { 
		font-size: 21px; 
	}
	.welcome-video {
		object-fit: fill;
		min-width: 100%;
		min-height: 100%;
	}
	.welcome-video-content {
		color: #EEE;
		position: absolute;
		top: 0px;
		left: 0px;
		min-width: 100%;
		min-height: 100%;
		background-color: rgba($color: #1e88e5, $alpha: 0.75);
		.container {
			margin: 55px auto;
			text-align: center;
			.img-intro {
				margin-bottom: 10px;
				img {
					width: 128px;
					height: 128px;
					border-radius: 50%;
					margin-bottom: 10px;
				}
			}
			.text-intro {
				a {
					color: #FFF;
				}
				ul {
					margin:0 auto;
					padding: 0;
					list-style: none;
					li {
						display: inline-block;
						margin-right: 5px;
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
			.sep-intro {
				background-color: #FFF;
				border-color: #FFF;
				width: 150px;
				margin:15px auto;
			}
		}
	}
}
.content {
	margin-top: 400px;
	position: absolute;
	width: 100%;
	.wrapper {
		background-color: #FFF;
		min-height: 100vh;
		padding:30px 0;
		h1, h2, h3, h4, h5, h6, b {
			color: #666;
		}
		hr {
			border-color: #eee;
		}
		table {
			width: 100%;
			border: 1px solid #eee;
			td {
				padding: 5px 10px;
				border: 1px solid #eee;
			}
			@include media-breakpoint-up(sm) {
				border: 0;
				td {
					padding: 0;
					border: 0;
				}
			}
		}
		.showcase-timeline {
			margin-top: 20px;
			.post-style-outer {
				margin-top:0;
				margin-bottom:25px;
				margin-left:20px;
				position:relative;
				box-shadow: 0 2px 6px rgba(0,0,0,0.1);
				border-radius:4px;
				&:last-child {
					&::before {
						background-color: transparent;
					}
				}
				&::before {
					background:#e1e1e1;
					border-radius:2px;
					bottom:-28px;
					content:"";
					height:100%;
					left:-14px;
					position:absolute;
					width:1px
				}
				&::after {
					border:2px solid #3498db;
					border-radius:50%;
					content:"";
					height:11px;
					left:-19px;
					position:absolute;
					top:10px;
					width:11px
				}
				.post-style-inner {
					background:#fff;
					border:1px solid #e1e1e1;
					border-radius:4px;
					position:relative;
					&::before{
						border-right:5px solid #e1e1e1;
						border-style:solid;
						border-width:5px;
						color:transparent;
						content:"";
						display:block;
						height:0;
						position:absolute;
						left:-10px;
						top:10px;
						width:0
					}
					&::after{
						border-right:5px solid #fff;
						border-style:solid;
						border-width:5px;
						color:transparent;
						content:"";
						display:block;
						height:0;
						position:absolute;
						left:-9px;
						top:10px;
						width:0
					}
					.post-content{
						.post-time {
							font-size: 14px;
							color: #2196f3;
							padding: 10px 15px;
							border-bottom: 1px solid #f2f2f2;
						}
						.post-info {
							padding: 15px;
							.post-title {
								font-size: 16px;
								margin:0;
								margin-bottom: 5px;
								color: #666;
							}
							.post-url {
								margin-top: 5px;
							}
							.post-badge {
								margin-top: 15px;
								border: 1px solid #2196f3;
								color: #2196f3;
								border-radius: 4px;
								padding: 3px 7px;
								display: inline-block;
								font-size: 10px;
								font-weight: bold;
							}
						}
						.post-img {
							border-top: 1px solid #f2f2f2;
							padding: 15px 15px 5px 15px;
							//background-color: #f7f7f7;
							border-radius: 0 0 4px 4px;
							a {
								&:last-child {
									img {
										margin-right: 0;
									}
								}
							}
							img {
								box-shadow: 0 2px 6px rgba(0,0,0,0.15);
								border-radius: 4px;
								width: 56px;
								height: 56px;
								//border: 1px solid #2196f3;
								margin-right: 10px;
								margin-bottom: 10px;
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
}

/* Breakpoint */
@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }